OIDC_BASE_URL=http://localhost:9000

OIDC_INITIAL_ACCESS_TOKEN=token1
REDIS_HOST=redis
JWT_SECRET=801E1AB0E7F097C7388D608C2AD336239A3DDF843DB3B21C2AF2F45C8AB52F7D
DEBUG=oidc-provider:*
COOKIE_KEY=cookie
OLD_COOKIE_KEY=oldcookie

# mailgun|ses
OIDC_EMAIL_DRIVER=ses

# the sender domain. (set this to mailgun sandbox domain in dev)
OIDC_EMAIL_DOMAIN=

# domains that are allowed to receive emails. Can be comma separated
# syn0.com, someclient.com
OIDC_EMAIL_WHITELIST=

# email to use if whitelist fails
OIDC_EMAIL_TRAP=

# required if using the mailgun driver
MAILGUN_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
OIDC_S3_BUCKET=
