{{{form}}}
<div class="end_session">
  <h3>Do you want to logout from OP too?</h3>
  <div class="actions__wrapper">
    <button class="button" type="submit" form="op.logoutForm" name="logout" value="yes">Yes, please!</button>
    <button class="button button-secondary" type="submit" form="op.logoutForm">No thanks!</button>
  </div>
</div>
