<div class="alert alert--success">
	Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
</div>
{{#if linkUrl}}<a class="button-main" href="{{linkUrl}}">Return to Login</a>{{/if}}
